* {
    margin : 0;
    padding : 0;
}

html {
    font-size : 62.5%;
}

body {
    max-width: 1000px;
    margin : 0 auto;
    color : #333333;
    box-sizing: border-box;
}

img {
    max-width : 100%;
}

.header {
    margin-top : 60px;
}

.site-title {
    line-height: 1px;
    margin-bottom : 15px;
    width : 180px;
}


.mainvisual {
    margin-bottom: 60px;
}

.mainvisual img {
    width : 1000px;
    height : auto;
}

.inner {
    max-width : 800px;
    margin : 0 auto;
}

.index , .detail {
    padding: 60px;
    background-color: #F5F5F5;
    margin-bottom : 60px;
}

.index-inner {
    padding : 30px;
    border : 1px solid #333333;
}

.index-list {
    justify-content: center;
    display: grid;
}

.index-list li {
    padding-bottom: 20px;
    font-size: 1.4rem;
}

.index-list li:last-child {
    padding-bottom : 0;
}

.title {
    text-align: center;
    font-size: 1.8rem;
    margin-bottom : 30px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom : 45px;
    list-style: none;
}

.list li {
    width: 49%;
    margin-bottom: 15px;
}

.list li img {
    vertical-align: bottom;
}

.detail-content {
    display : flex;
    font-size : 1.4rem;
}

dl {
    width : 35%;
    max-width :197px;
    padding-right: 40px;
    border-right: 1px solid #333333;
}

dt {
    font-weight: bold;
}

dd {
    margin-left : 0;
    margin-bottom: 10px;
}


dd:last-child {
    margin-bottom : 0;
}

.text {
    width : 65%;
    padding-left: 40px;
}

.text p {
    margin-bottom : 20px;
}

.text a {
    color : #333333;
}

.footer {
    padding : 15px 0;
}

.footer p {
    text-align: center;
}


/*-- responsive --*/

@media screen and (max-width: 1024px) {
    
    .header {
        padding-left : 10px;
    }

    .inner {
        padding : 0 20px;
    }

    .index , .detail {
        padding: 40px 20px;
    }

    .list {
        flex-direction: column;
    }

    .list li {
        width: 100%;
        text-align: center;
    }

    .detail {
        padding : 40px 20px;
    }

    .detail-content {
        flex-direction: column;
    }
    
    ul img {
        width : 600px;
        height : auto;
    }

    dl {
        width : 100%;
        max-width: none;
        border-right : none;
        border-bottom: 1px solid #333333;
        padding-bottom: 40px;
        padding-right: 0;
    }


    .text {
        width : 100%;
        padding-top: 40px;
        padding-left : 0 ;
    }
}